*{
	padding:0;
	margin:0;
	outline:none;
}
img{border:none;}
body{
	background:#eee;
	font-family:arial,helvetica,verdana,sans-serif;
	font-size:14px;
}
#login{
	width:400px;
	min-height:230px;
	margin:200px auto 0 auto;
	background:#e0e0eb;
	color:#666699;
	text-align:center;
	border-radius:20px;
	box-shadow:0 0 20px #666699;
	padding:10px;
	transition:box-shadow 1s;
	-moz-transition:box-shadow 1s; /* Firefox 4 */
	-webkit-transition:box-shadow 1s;/*  Safari and Chrome */
	-o-transition:box-shadow 1s; /* Opera */
}
#login:hover{
	box-shadow:0 0 50px #666699;
}
#login form{
	padding-top:50px;
	width:100%;
	min-height:170px;
}
#login form input[type="text"], input[type="password"]{
	padding:5px;
	border-radius:10px;
	width:180px;
	border:1px solid #666699;
	color:#666699;
	text-align:center;
}
#login form input[type="submit"]{
	padding:5px 40px;
	background:#666699;
	border:1px solid #666699;
	border-radius:10px;
	color:#f8f8f8;
	text-align:center;	
	font-weight:bold;
	letter-spacing:1px;
	transition:background 1s;
	-moz-transition:background 1s;
	-webkit-transition:background 1s;
	-o-transition:background 1s;
}
#login form input[type="submit"]:hover{
	background:#6666CC;
}
#login form input[type="submit"]:active{
	background:#6666CC;
}

@media screen and (max-width: 480px){
	#login{
		width:230px;
		min-height:230px;
		margin:30px auto 0 auto;
		background:#e0e0eb;
		color:#666699;
		text-align:center;
		border-radius:20px;
		box-shadow:0 0 20px #666699;
		padding:10px;
		transition:box-shadow 1s;
		-moz-transition:box-shadow 1s; /* Firefox 4 */
		-webkit-transition:box-shadow 1s;/*  Safari and Chrome */
		-o-transition:box-shadow 1s; /* Opera */
	}
}
@media screen and (max-device-width: 480px){
	#login{
		width:230px;
		min-height:230px;
		margin:30px auto 0 auto;
		background:#e0e0eb;
		color:#666699;
		text-align:center;
		border-radius:20px;
		box-shadow:0 0 20px #666699;
		padding:10px;
		transition:box-shadow 1s;
		-moz-transition:box-shadow 1s; /* Firefox 4 */
		-webkit-transition:box-shadow 1s;/*  Safari and Chrome */
		-o-transition:box-shadow 1s; /* Opera */
	}
}