#overlay_form, #edit_form,#shtoklient_form{
position: absolute;
border: 5px solid #666699;
padding: 10px;
background: #E0E0EB;
width: 250px;
min-height: 190px;
z-index:1000;
}
#ruaj{
padding:5px 10px;
background:#666699;
border-radius:5px;
color:#f8f8f8;
}
#deleteEvent{
padding:5px 10px;
background:red;
border-radius:5px;
color:#f8f8f8;
text-decoration:none;
}
#close, #closeEdit, #close_klient{
padding:2px 5px;
text-decoration:none;
background:#666699;
border-radius:5px;
color:#f8f8f8;
}
#pop,#shto_klient{
display: block;
border: 1px solid gray;
width: 65px;
text-align: center;
padding: 6px;
border-radius: 5px;
text-decoration: none;
margin: 0 auto;
}

@media screen and (max-width:580px){
	#pop,#shto_klient{
	display: block;
	border: 1px solid gray;
	width: 65px;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
	text-decoration: none;
	margin-right:400px;
	}
}