*{padding:0;margin:0;border:none;outline:none;}
body{font-size:16px; font-family:arial,helvetica,verdana,sans-serif;}
#wrapper{min-width:220px;}
#header-container{width:100%;margin:0 auto;position:fixed;z-index:9999999;}
#header-container #header{
	margin:0 auto;
	height:60px;
	background: #E0E0EB;
	border-bottom:3px solid #666699;
}
#hidden-menu-button{
	display:none;
}
#header-container #header #logo{
	padding:7px;
	float:left;
}
#header-container #header #top-icons{
	padding:7px;
	float:right;
}
#header-container #header #top-icons img{
	width:40px;
	padding:5px;
}
#header-container #header #menu{
	max-width:800px;
	float:right;
	height:100%;
}
#header-container #header #menu ul{
	margin-right:100px;
	list-style-type:none;
}
#header-container #header #menu ul li{
	float:left;
}
#header-container #header #menu ul li a{
	display:block;
	text-decoration:none;
	color:#666699;
	font-weight:bold;
	text-align:center;
	max-width:85px;
	padding:20px;
	border-right:1px solid #666699;
}
#header-container #header #menu ul li a:hover,.current{
	border-top:3px solid #666699;
	background:#B2B2CC;
}
#body-container{padding-top:70px;max-width:100%;margin:0 auto;}

table.tabelat{
	font-size:0.8em;
	margin:50px auto;
	color:#404040;
	box-shadow:0 0 15px #666699;
	width:1000px;
	clear:both;
}
table.tabelat tr:nth-child(odd){
	background:#e0e0eb;
}
table.tabelat th{
	background:#666699;
	color:#f8f8f8;
}
table.tabelat, table.tabelat tr, table.tabelat th, table.tabelat td{
	border:1px solid grey;
	border-collapse:collapse;
	text-align:center;
	padding:2px;
}

.pagination{
	margin:0 300px;
	text-align:center;
}
.pagination ul{

	list-style:none;
}
.pagination ul li{
	float:left;
}
.pagination ul li a{
	display:block;
	background:#eee;
	padding:5px;
	color:#666699;
	box-shadow:0 0 15px #666699;
}
.pagination ul li a:hover{
	color:#9999CC;
}
.pagination .active a{
	background:#666699;
	color:#f8f8f8;
}
#kerkoKlient{
	position: fixed;
	top: 15px;
	left: 60%;
	color: #f8f8f8;
	z-index: 1;
	min-height: 45px;
	min-width: 210px;
	border-radius:10px;
	box-shadow:0 0 10px #000;
	background: #666699;
	font-size:0.8em;
	font-weight:bold;
	text-align:center;
}
#kerkoKlient form{
	margin-top:10px;
}
#kerkoKlient form input[type="text"]{
	width:120px;
}
#kerkoKlient form input, label{
	float:left;
	margin-left:10px;
	margin-right:10px;
}
#submitButton{
	width:50px; 
	height:25px;
	float:right;
}

#edit{
	color:#666699;
	text-align:center;
	background:#E0E0EB;
	border:2px solid #666699;
	width:500px;
	margin:70px auto;
	padding:20px;
	border-radius:10px;
	box-shadow:0 0 30px #666699;
}
#edit form input{
	border-radius:10px;
	border:1px solid #666699;
	text-align:center;
	height:20px;
	margin-bottom:20px;
}
#edit form textarea{
	border-radius:10px;
	border:1px solid #666699;
	text-align:center;
}
#edit form label{
	width:100%;
	margin:0 auto;
}
#edit h1 a,h2 a{
	color:#666699;
	text-decoration:none;
}

#back{
	background:#666699;
	color:#E0E0EB;
	border:outset #666699;
	letter-spacing:1px;
	font-size:0.9em;
	padding:5px;
	margin-right:10px;
}
#back:hover{
	color:#fff;
	border:inset #666699;
}
#back:active{
	color:#E0E0EB;
}
table.tabelat caption{text-align:left;margin-bottom:10px;}
.hidden{
	display:none;
}

#user-aside{
	background:#E0E0EB;
	width:300px;
	min-height:350px;
	border:2px solid #666699;
}
#user-menu{
	width:100%;
	height:100%;
}
#user-menu ul{
	padding-top:70px;
	list-style:none;
}
#user-menu ul li{
	display:block;
}
#user-menu ul li a{
	text-decoration:none;
	text-align:center;
	color:#666699;
	display:block;
	width:99%;
	height:20px;
	font-size:1.2em;
	letter-spacing:2px;
	font-weight:bold;
	border:1px solid #E0E0EB;
	padding:10px 0;
}
#user-menu ul li a:hover{
	background:#666699;
	color:#f8f8f8;
}

#footer-container{}

.fc-day-header, .fc-widget-header{
	background:#E0E0EB;
}

#prod-menu{
	width:261px;
	margin:0 auto;
	height:20px;
	padding:10px;
}

#prod-menu ul{
	list-style:none;
}
#prod-menu ul li{
	float:left;
}
#prod-menu ul li a{
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	color:#666699;
	padding:5px;
	display:block;
	background:#E0E0EB;
	width:120px;
}

#shitja-interface{
	width:100%;
	height:800px;
}
#shitja-main{
	min-height:100%;
	width:100%;
	float:left;
}
#top-shitja{
	height:50px;
	width:100%;
	background:#464646;
}
#top-shitja a{
	font-size:0.8em;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
	margin-left:20px;
}
#shitja-aside{
	background:#464646;
	width:300px;
	min-height:100%;
	float:left;
}
#shitja-aside h2{
	color:#f8f8f8;
	text-align:left;
	padding:50px 0 10px 20px;
}
#shitja-aside label{
	color:#f8f8f8;
}
#shitja-aside form, #shitja-aside p{
	padding-left:20px;
}
#shitja-table{
	font-size:0.8em;
	margin:50px auto;
	color:#404040;
	box-shadow:0 0 15px #464646;
	width:720px;
	clear:both;
}
#shitja-table tr:nth-child(odd){
	background:#C0C0C0;
}
#shitja-table th{
	background:#464646;
	color:#f8f8f8;
}
table#shitja-table, table#shitja-table tr, table#shitja-table th, table#shitja-table td{
	border:1px solid grey;
	border-collapse:collapse;
	text-align:center;
	padding:2px;
}
#change{
	max-width:100%;
}
#change #terminesearch{
	width:200px;
	background:#e0e0eb;
	margin-left:400px;
	margin-bottom:-30px;
	border-radius:5px;
	border:1px solid #666699;
	text-align:center;padding:5px;
}
/*Timepicker*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


/*RESPONSIVE*/

@media screen and (max-width: 1024px) and (min-width: 750px){
	.tabelat{margin:0 auto !important;}
	#header-container #header #menu ul li a{
		display:block;
		text-decoration:none;
		color:#666699;
		font-weight:bold;
		font-size:0.9em;
		text-align:center;
		max-width:85px;
		padding:13px;
		border-right:1px solid #666699;
	}

	#change #terminesearch{
		width:150px;
		background:#e0e0eb;
		margin-bottom:10px;
		border-radius:5px;
		border:1px solid #666699;
		text-align:center;padding:5px;
	}
	#header-container #header #menu ul{
		margin-right:0px;
		list-style-type:none;
	}
	
	#header-container #header{
		margin:0 auto;
		height:45px;
		background: #E0E0EB;
		border-bottom:3px solid #666699;
	}	

	#header-container #header #top-icons{
		padding:5px;
		float:right;
	}
	#header-container #header #top-icons img{
		width:30px;
		padding:5px;
	}

	#header-container #header #logo img{
		width:50px;
	}
}

@media screen and (max-width: 750px) and (min-width: 580px) {
	.tabelat{margin:0 auto !important;}
	#change #terminesearch{
		width:150px;
		background:#e0e0eb;
		margin-bottom:10px;
		border-radius:5px;
		border:1px solid #666699;
		text-align:center;padding:5px;
	}
	#header-container #header #menu ul li a{
		display:block;
		text-decoration:none;
		color:#666699;
		font-weight:bold;
		font-size:0.8em;
		text-align:center;
		max-width:85px;
		padding:7px;
		border-right:1px solid #666699;
	}

	#header-container #header #menu ul{
		margin-right:0px;
		list-style-type:none;
	}
	
	#header-container #header{
		margin:0 auto;
		height:35px;
		background: #E0E0EB;
		border-bottom:3px solid #666699;
	}	

	#header-container #header #top-icons{
		padding:5px;
		float:right;
	}
	#header-container #header #top-icons img{
		width:20px;
		padding:5px;
	}

	#header-container #header #logo img{
		width:40px;
	}

	.fc-header-left{
		font-size:0.7em;
	}
	.fc-header-right{
		font-size:0.7em;
	}
	.fc-event-title{
		font-size:0.7em;
	}
}

@media screen and (max-width: 580px) {
	.tabelat{margin:0 auto !important;}
	#hidden-menu-button{
		display:block;
		width:70px;
		height:20px;
		background:#666699;
		color:white;
		text-align:center;
	}
	#change{display:none;}
	#change #terminesearch{
		width:150px;
		background:#e0e0eb;
		margin-bottom:10px;
		border-radius:5px;
		border:1px solid #666699;
		text-align:center;padding:5px;
	}
	#menu-top{
		display:none;
	}

	#header-container #header #menu ul{
		margin-right:0px;
		list-style-type:none;
		border:1px solid #666699;
	}
	#header-container #header #menu ul li{
		float:none;
	}

	#header-container #header #menu ul li a{
		float:none;
		border:1px solid #666699;
		font-size:0.8em;
		background:#E0E0EB;
		padding:5px;
	}
	#header-container #header{
		margin:0 auto;
		height:35px;
		background: #E0E0EB;
		border-bottom:3px solid #666699;
	}	

	#header-container #header #top-icons{
		padding:5px;
		float:right;
	}
	#header-container #header #top-icons img{
		width:20px;
		padding:5px;
	}

	#header-container #header #logo img{
		width:40px;
	}

	#overlay_form,#edit_form{
		position:absolute;
		top:70px !important;
	}
	.fc-header-left{
		font-size:0.4em;
	}
	.fc-header-right{
		font-size:0.5em;
	}
	.fc-event-title{
		font-size:0.6em;
	}

	table.tabelat{
	font-size:0.8em;
	margin:50px auto !important;
	color:#404040;
	box-shadow:0 0 15px #666699;
	width:380px !important;
	clear:both;
	}
	table.tabelat tr:nth-child(odd){
		background:#e0e0eb;
	}
	table.tabelat th{
		background:#666699;
		color:#f8f8f8;
	}
	table.tabelat, table.tabelat tr, table.tabelat th, table.tabelat td{
		border:1px solid grey;
		border-collapse:collapse;
		text-align:center;
		padding:2px;
	}

	.pagination{
		margin:0 300px;
		text-align:center;
	}
	.pagination ul{

		list-style:none;
	}
	.pagination ul li{
		float:left;
	}
	.pagination ul li a{
		display:block;
		background:#eee;
		padding:5px;
		color:#666699;
		box-shadow:0 0 15px #666699;
	}
	.pagination ul li a:hover{
		color:#9999CC;
	}
	.pagination .active a{
		background:#666699;
		color:#f8f8f8;
	}
	#kerkoKlient{
		position: fixed;
		top: 15px;
		left: 30%;
		color: #f8f8f8;
		z-index: 1;
		min-height: 25px;
		min-width: 110px;
		border-radius:10px;
		box-shadow:0 0 10px #000;
		background: #666699;
		font-size:0.8em;
		font-weight:bold;
		text-align:center;
	}
	#kerkoKlient form{
		margin-top:10px;
	}
	#kerkoKlient form input[type="text"]{
		width:120px;
	}
	#kerkoKlient form input, label{
		float:left;
		margin-left:10px;
		margin-right:10px;
	}

	#submitButton{
	width:40px; 
	height:25px;
	float:right;
	}

	#edit{
	color:#666699;
	text-align:center;
	background:#E0E0EB;
	border:2px solid #666699;
	width:220px !important;
	margin:70px auto;
	padding:20px;
	border-radius:10px;
	box-shadow:0 0 30px #666699;
}
#edit form input{
	border-radius:10px;
	border:1px solid #666699;
	text-align:center;
	height:20px;
	margin-bottom:20px;
}
#edit form textarea{
	border-radius:10px;
	border:1px solid #666699;
	text-align:center;
	width:200px;
}
#edit form label{
	width:100%;
	margin:0 auto;
}
#edit h1 a,h2 a{
	color:#666699;
	text-decoration:none;
}
}


/*Devices*/

@media screen and (max-device-width: 1024px) and (min-device-width: 750px){
	.tabelat{margin:0 auto !important;}
	#header-container #header #menu ul li a{
		display:block;
		text-decoration:none;
		color:#666699;
		font-weight:bold;
		font-size:0.9em;
		text-align:center;
		max-width:85px;
		padding:13px;
		border-right:1px solid #666699;
	}

	#header-container #header #menu ul{
		margin-right:0px;
		list-style-type:none;
	}
	
	#header-container #header{
		margin:0 auto;
		height:45px;
		background: #E0E0EB;
		border-bottom:3px solid #666699;
	}	

	#header-container #header #top-icons{
		padding:5px;
		float:right;
	}
	#header-container #header #top-icons img{
		width:30px;
		padding:5px;
	}

	#header-container #header #logo img{
		width:50px;
	}
}

@media screen and (max-device-width: 750px) and (min-device-width: 580px) {
	.tabelat{margin:0 auto !important;}
	#header-container #header #menu ul li a{
		display:block;
		text-decoration:none;
		color:#666699;
		font-weight:bold;
		font-size:0.8em;
		text-align:center;
		max-width:85px;
		padding:7px;
		border-right:1px solid #666699;
	}

	#header-container #header #menu ul{
		margin-right:0px;
		list-style-type:none;
	}
	
	#header-container #header{
		margin:0 auto;
		height:35px;
		background: #E0E0EB;
		border-bottom:3px solid #666699;
	}	

	#header-container #header #top-icons{
		padding:5px;
		float:right;
	}
	#header-container #header #top-icons img{
		width:20px;
		padding:5px;
	}

	#header-container #header #logo img{
		width:40px;
	}

	.fc-header-left{
		font-size:0.7em;
	}
	.fc-header-right{
		font-size:0.7em;
	}
	.fc-event-title{
		font-size:0.7em;
	}
}

@media screen and (max-device-width: 580px) {
	.tabelat{margin:0 auto !important;}
	#hidden-menu-button{
		display:block;
		width:70px;
		height:20px;
		background:#666699;
		color:white;
		text-align:center;
	}
	#menu-top{
		display:none;
	}

	#header-container #header #menu ul{
		margin-right:0px;
		list-style-type:none;
		border:1px solid #666699;
	}
	#header-container #header #menu ul li{
		float:none;
	}

	#header-container #header #menu ul li a{
		float:none;
		border:1px solid #666699;
		font-size:0.8em;
		background:#E0E0EB;
		padding:5px;
	}
	#header-container #header{
		margin:0 auto;
		height:35px;
		background: #E0E0EB;
		border-bottom:3px solid #666699;
	}	

	#header-container #header #top-icons{
		padding:5px;
		float:right;
	}
	#header-container #header #top-icons img{
		width:20px;
		padding:5px;
	}

	#header-container #header #logo img{
		width:40px;
	}

	#overlay_form,#edit_form{
		position:absolute;
		top:70px !important;
	}
	.fc-header-left{
		font-size:0.4em;
	}
	.fc-header-right{
		font-size:0.5em;
	}
	.fc-event-title{
		font-size:0.6em;
	}


	table.tabelat{
	font-size:0.8em;
	margin:50px auto;
	color:#404040;
	box-shadow:0 0 15px #666699;
	width:380px !important;
	clear:both;
	}
	table.tabelat tr:nth-child(odd){
		background:#e0e0eb;
	}
	table.tabelat th{
		background:#666699;
		color:#f8f8f8;
	}
	table.tabelat, table.tabelat tr, table.tabelat th, table.tabelat td{
		border:1px solid grey;
		border-collapse:collapse;
		text-align:center;
		padding:2px;
	}

	.pagination{
		margin:0 300px;
		text-align:center;
	}
	.pagination ul{

		list-style:none;
	}
	.pagination ul li{
		float:left;
	}
	.pagination ul li a{
		display:block;
		background:#eee;
		padding:5px;
		color:#666699;
		box-shadow:0 0 15px #666699;
	}
	.pagination ul li a:hover{
		color:#9999CC;
	}
	.pagination .active a{
		background:#666699;
		color:#f8f8f8;
	}
	#kerkoKlient{
		position: fixed;
		top: 15px;
		left: 30%;
		color: #f8f8f8;
		z-index: 1;
		min-height: 25px;
		min-width: 110px;
		border-radius:10px;
		box-shadow:0 0 10px #000;
		background: #666699;
		font-size:0.8em;
		font-weight:bold;
		text-align:center;
	}
	#kerkoKlient form{
		margin-top:10px;
	}
	#kerkoKlient form input[type="text"]{
		width:120px;
	}
	#kerkoKlient form input, label{
		float:left;
		margin-left:10px;
		margin-right:10px;
	}

	#submitButton{
	width:40px; 
	height:25px;
	float:right;
	}

	#edit{
	color:#666699;
	text-align:center;
	background:#E0E0EB;
	border:2px solid #666699;
	width:220px !important;
	margin:70px auto;
	padding:20px;
	border-radius:10px;
	box-shadow:0 0 30px #666699;
	}
	#edit form input{
		border-radius:10px;
		border:1px solid #666699;
		text-align:center;
		height:20px;
		margin-bottom:20px;
	}
	#edit form textarea{
		border-radius:10px;
		border:1px solid #666699;
		text-align:center;
		width:200px;
	}
	#edit form label{
		width:100%;
		margin:0 auto;
	}
	#edit h1 a,h2 a{
		color:#666699;
		text-decoration:none;
	}
}